.colorblue {
  background-color: #A1DDF9;
}

.cl-gray {
  background-color: #D6D6D6;
}

.cl-graywhite {
  background-color: #FFFFFF;
}

.cl-mateblue {
  background-color: #A1DDF9;
}

.cl-tokopedia {
  background-color: #84c468;
}

.cl-whatsapp {
  background-color: #199844;
}

.cl-shopee {
  background-color: #EE4E2C;
}

.cl-sabunzone {
  background-color: #F8EDCC;
}

.cl-blibli {
  background-color: #008BD2;
}

.cl-7days {
  background-color: #A1DDF9;
}

.audio-cl-7days::-webkit-media-controls-panel {
  background-color: #A1DDF9;
}

.audio-cl-whatsapp::-webkit-media-controls-panel {
  background-color: #199844;
}

.audio-cl-tokopedia::-webkit-media-controls-panel {
  background-color: #84c468;
}

.audio-cl-shopee::-webkit-media-controls-panel {
  background-color: #EE4E2C;
}

.audio-cl-sabunzone::-webkit-media-controls-panel {
  background-color: #F8EDCC;
}

.audio-cl-blibli::-webkit-media-controls-panel {
  background-color: #008BD2;
}