.colorblue {
  background-color: #A1DDF9;
}

.cl-gray {
  background-color: #D6D6D6;
}

.cl-graywhite {
  background-color: #FFFFFF;
}

.cl-mateblue {
  background-color: #A1DDF9;
}

.cl-tokopedia {
  background-color: #199844;
}

.cl-whatsapp {
  background-color: #199844;
}

.cl-shopee {
  background-color: #EE4E2C;
}

.cl-sabunzone {
  background-color: #F8EDCC;
}

.cl-blibli {
  background-color: #008BD2;
}

.cl-7days {
  background-color: #A1DDF9;
}



